body {
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2vw;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backgrounddiv {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 3vw;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1, p, h2, ul {
    color: white;
}

h1 {
    font-size: 3em;
    margin-top: auto;
}

h2 {
    margin-bottom: 0;
}

p {
    font-size: 1.2em;
}

.depth1 {
    font-size: 1.7em;
}

ul {
    font-size: 0.8em;
    margin-top: 5px;
}

img, video {
    max-width: 100%;
    height:auto;
    bottom:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.mediadiv {
    width:fit-content;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7);
    padding-bottom: 5px;
}

video {
    width: 960px;
}

.homediv {
    display: flex;
    width:100%;
    justify-content: flex-end;
}

.buttondiv {
    border-radius: 10px;
    background-color: #eeeeee;
    color: black;
    box-shadow: 5px 5px 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
}